@import "tailwindcss";

@theme {
    --color-primary: #3ec49f;
    --color-surface-dark: #282828;
    --color-surface-darker: #181718;
}

body {
    @apply text-white bg-surface-dark;
}

td,
th,
tr {
    @apply break-words overflow-hidden text-ellipsis h-14 text-center;
}

td:last-child,
th:last-child {
    @apply border-r;
}
